html {
    /* box-sizing: border-box; */
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
 

#nav{
    width: 100%;
    height: 120px;
    /* background: rgba(32, 60, 114, 0.842) ; */
    background:
        linear-gradient(
        to right,  
        gray,rgb(68, 63, 63), gray)
    ;
    position: sticky;
    top: 0;
    /* left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 10; */
}


#box{
    width: auto;
    height: 100%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
    align-items: center;
}


#profile{
    width: 70px;
    height: 60%;
    /* width: 40%;
    height: 80%; */
    background-color: red;
    border-radius: 50%;
     background-image: url("../‪+234\ 814\ 595\ 5583‬\ 20180309_114658.jpg");
    background-size: cover;    
}

/* #profile>img{
    width: 100%;
    height: 100%;
} */

#name{
    width: 100%;
    height: 30%;
    border: 2px solid black;
    border-left:0;
    border-right:0;
    text-align: center;
    color: white;    
    padding-top: 5px;
}

#name>h2{
    padding: 0px;
    margin: 0px;
}

 

#mylink{
    display: flex;
    padding: 1px;
    
}

#mylink>li{
    padding-right: 1rem;
    list-style-type: none;
}

#mylink>li>a{
    text-decoration: none;
    font-size: 2.6rem;
    color: white;
}

@media (max-width: 28.75em) {
    #mylink>li>a{
        font-size: 1.7rem;
    } 
}

@media (max-width: 22.5em) {
    
    #box{
        display: none;
    }
    #nav{
        justify-content:center;
    }
}



#welcome{
    width: 100%;
    height: 50vh;
     background: gray;
     display: flex;
     flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome>p{
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color:red;
  }
#welcome>h1{
    font-size: 5rem;
    color:white;
  }

  @media (max-width: 28.75em) {
    #welcome>p{
        font-size: 2rem;
      }
    #welcome>h1{
        font-size: 3rem;
      }
}

#projects{
    width: 100%;
    height: auto;
    text-align: center;
  padding-top: 10rem;
  background: rgb(65, 38, 4);
  
}

#projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    /* margin:auto;
    margin-bottom: 6rem; */
    border-bottom: 0.2rem solid white;
    font-size: 3rem;
    color: white;
    /* background: red; */
  }

  #projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .project{
      width: 100%;
      height: 50rem;
      background: #303841;
      /* margin: 1px; */
  }
 .project>img{
        height: calc(100% - 6.8rem);
        /* height: 100%; */
        width: 100%;
        object-fit: cover;

 }

 #project-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: white;
 }

 #contact{
     width: 100%;
     height: 80vh;
     background-color:#303841;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     /* padding: 0 2rem; */
 }

 #contact-header>h2 {
    font-size: 6rem;
    color: white;    
  }
  #contact-header > p {
    font-style: italic;
    color: silver;
    font-size: 2rem;
  }
  
  @media (max-width: 28.75em) {
    #contact-header>h2 {
      font-size: 3rem;
    }
  }

  #contact-links{
      width: 100%;
      /* background:red; */
      display: flex;
      justify-content: center;
      margin-top: 4rem;
      max-width: 980px;
      flex-wrap: wrap;
  }

  .link-item{
      font-size: 3rem;
      color: white;
      text-decoration: none;
      margin-right: 3rem;
      transition: transform 0.3s ease-out;
  }

  .link-item:hover {
    transform: translateY(8px);
  }
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #303841;
    border-top: 4px solid red;
    color: white;
  }
  
  footer>p {
    /* margin: 2rem; */
    font-size: 2rem;
  }

  footer>p>a {
    color: white;
   text-decoration: none;
  }
  
    
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  
  /* .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  } */
  
